*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
h1,h4 {
    font-family: Canela-LightItalic, "sans-serif";
    line-height: 1.25em;
    font-weight: 300;
    font-size: 2.5em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 20%;
}
p {
    font-family: GT America Light, "sans-serif";
}

.header-container {
    background: #DBD5CD url(./src/svg-pattern.svg);
    background-repeat: no-repeat;
    background-size: 39dvw;
    background-position: center right;
    height: 70dvh;
    width: 100dvw;
    overflow: auto;
}

.header-container .sub-container {
    display: flex;
    margin: 70px 30px;
}

.header-container > :nth-child(2) {
    width: 61dvw;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 120px;
    padding-left: 5dvw;
}
.header-container .sub-container div {
    align-items: center;
}

.header-container .sub-container .logo {
    margin-left: 5dvw;
    width: 120px; 
    height: 35px;
}

.nav-bar {
    width: 60px;
    padding: 10px;
}

.nav-bar div {
    height: 2.5px;
    width: 30px;
    background-color: black;
    margin: 5px;
    border-radius: 15px;
}

.language {
    display: flex;
    margin-left: auto;
}

.language p {
    font-size: 15px;
    padding: 3px;
    font-weight: 500;
    color: white;
}

form input{
    padding: 10px 11dvw 5px 5px;
    background: #D5CCC1 url(./src/search-button-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    border-style: groove;
    border-width: 1px;
    font-size: 15px;
}
.sub-container input {
    margin-top: 30px;
}

.container-main {
    background-color: #E4E0DB;
    overflow: hidden;
}

.container-main .sub-container {
    padding: 5px 10px;
    margin: 0 10dvw;
}
.container-main .sub-container h4 {
    font-size: 19px;
    text-decoration: none;
    margin: 30px 10px;
}
.profile-section {
    display: flex;
    flex-wrap: wrap;

}
.profile-section > * {
    flex: 0 1 22%;
    margin: 10px 15px 30px;
    
}
.profile-section .profile p + h1 {
    font-size: 1em;
    text-decoration: none;
    padding: 3px;
}
.profile-section .profile p {
    font-weight: 600;
}
.profile-section .profile img {
    width: 100%;
    object-fit: cover;
}
.container-main .sub-container > :last-child {
    text-decoration: underline;
    text-align: center;
}

footer .container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    height: 65dvh;
}

footer .container .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 50px 20px; 
}

.media-icons {
    height: 20px;
    aspect-ratio: 1;
    margin-left: 20px;
    margin-top: 10px;
}

footer .sub-section .small-logo {
    height: 15%;
}

